<!DOCTYPE html>
<html lang="pt-BR" xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Login</title>
  </head>
  <body>
    <h1>Informe seus dados</h1>
    <form action="#" th:action="@{/api/v1/users/login}" method="post">
      <label for="username">Nome de usuário:</label>
      <input type="text" id="username" name="username" required />
      <label for="password">Senha:</label>
      <input type="text" id="password" name="password" required />
      <button type="submit">Logar</button>
    </form>
    <form th:action="@{/api/v1/users/register}" method="get" style="display: inline">
      <button type="submit" class="btn btn-info">Cadastre-se</button>
    </form>
  </body>
</html>
